// DIALOG
// ----------------------------------------------------------------------------------------------------
.dialog {
  position: relative;
  z-index: 1000;
  padding: 4rem;
  background: #fff;
}
  .dialog_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
  }