<div class="parallax">
  <!--<img src="/img/main.jpg" alt="" class="background-img">-->
  <!--<div class="parallax_layer __1"></div>-->
  <!--<div class="parallax_layer __2"></div>-->
</div>

<!--<div class="background-image">-->
  <!--<img src="/img/main.jpg" alt="" width="1280" height="700">-->
<!--</div>-->


<script type="text/javascript">
  $(function() {

//    $(window).load(function() {
//
//      $('.paralax').parallax({
//        'elements': [
//          {
//            'selector': '.parallax',
//            'properties': {
//              'x': {
//                'background-position-x': {
//                  'initial': 50,
//                  'multiplier': 0.001,
//                  'unit': '%'
//                }
//              }
//            }
//          },
//          {
//            'selector': '.parallax_layer.__1',
//            'properties': {
//              'x': {
//                'background-position-x': {
//                  'initial': 50,
//                  'multiplier': 0.005,
//                  'unit': '%'
//                }
//              }
//            }
//          },
//          {
//            'selector': '.parallax_layer.__2',
//            'properties': {
//              'x': {
//                'background-position-x': {
//                  'initial': 50,
//                  'multiplier': 0.002,
//                  'unit': '%'
//                }
//              }
//            }
//          }
//        ]
//      });


//    });

    $('.background-img').fullscreenBackground({fillOnResize: true});

  });
</script>