// PARALLAX
// ----------------------------------------------------------------------------------------------------
.parallax {
  background: url("/img/parallax/layer-main.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.parallax_layer {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.parallax_layer.__1 {background: url("/img/parallax/layer-1.png") center no-repeat;}
.parallax_layer.__2 {background: url("/img/parallax/layer-2.png") center no-repeat;}

.background-image {
  z-index: -1 !important;
}

// PAGE
// ----------------------------------------------------------------------------------------------------
.page {

}
.page.__index {
//  background: url("/img/parallax/layer-main.jpg") center no-repeat;
//  background-size: cover;
}
.page.__inside {
//  background: url("/img/parallax/layer-main.jpg") center no-repeat;
//  background-size: cover;
}
.page.__inside .main {
  padding-bottom: 4rem;
}

// HEADER
// ----------------------------------------------------------------------------------------------------
.header {
  margin-bottom: 10rem;
}

// NAVIGATION
// ----------------------------------------------------------------------------------------------------
.nav {
  background: transparent url("/img/footer.png") center repeat;
  height: 6rem;
  line-height: 6rem;
}
.nav_ls {

}
.nav_ls_i {
  display: inline-block;
  margin-right: 3.5rem;
}
.nav_ls_a {

}

// LOGO
// ----------------------------------------------------------------------------------------------------
.logo {

}
.logo.__inside {
  left: -10px;
  position: absolute;
  top: -75px;
}
.logo.__index {
  position: relative;
  top: 5rem;
}

// MAIN
// ----------------------------------------------------------------------------------------------------
.main {

}

// CONTENT BLOCK
// ----------------------------------------------------------------------------------------------------
.cnt-block{
  background: url("/img/content.png") repeat;
  border-radius: .5rem;
  padding: 1rem 2rem 3.5rem;
  position: relative;
  text-shadow: 0 .1rem .1rem #fff;
}

// PROMO
// ----------------------------------------------------------------------------------------------------
.promo {
  padding: 2rem 0;
}

// IPHONE
// ----------------------------------------------------------------------------------------------------
.iphone {
  position: relative;
}
.iphone_img {
  display: block;
  width: 100%;
}
.iphone_screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.iphone_video {
  left: 50%;
  margin-left: -46px;
  margin-top: -65px;
  position: absolute;
  top: 50%;
}

// App store button
.app {
  display: block;
  text-align: center;
  width: 100%;
}
.app_btn {
  width: 70%;
}

// FOOTER
// ----------------------------------------------------------------------------------------------------
.footer {

}
